@import url("./reboot.css");
@import url("./var.css");

a:hover,input:hover {opacity: .9;}
input,select {
    min-width: 100px;
}
input[type*="button"]{
    background-color: #525f78;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 25%;
    padding: 5px;
}
ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section {
    padding: 10px;
}
.teamsControl li {
    padding-bottom: 10px;
    display: table;
}
.teamsControl li label,
.teamsControl li input {
    display: table-cell;
    padding-right: 20px;
}